<div data-ng-controller="QuestionsCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <ul class="nav nav-tabs ">
                    <li role="presentation"  class="active"><a>问答内容管理</a></li>
                    <!--<li role="presentation" ><a href="#/discuss/add">发布交流</a></li>-->
                </ul>
            </div>
        </div>
    </div>
    <div class="white-box">
        <div class="row">
            <!--<div class="col-xs-12 col-lg-1 col-md-2">-->
            <!--<a href="#/discuss/add" class="btn btn-primary btn-sm"><span class="fa fa-plus"></span>发布交流</a>-->
            <!--</div>-->
            <div class="col-lg-2 col-md-2">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1" style="position: relative;z-index: 99;border-right: 1px solid #ddd;"><i class="fa fa-filter"></i> 根据状态筛选 </span>
                    <select class="form-control input-sm" ng-model="quality" id="cc" style="margin-left: -4px;"  ng-options="option.name for option in replyStatusList track by option.value" ng-change="changeChannel()">
                    </select>

                </div>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-offset-4 col-sm-6" style="line-height: 30px;text-align: right">

                <button class="btn btn-sm btn-default" ng-click="jumpPrev()" ng-disabled="currentPage<=1"><span class="fa fa-arrow-left"></span></button>
                <button class="btn btn-sm btn-default" ng-click="jumpNext()" ng-disabled="totalCount/30<=1"><span class="fa fa-arrow-right"></span></button>
                共{{totalCount||0}}条问答,当前页数:{{currentPage}}.
            </div>
            <div class="col-xs-6 col-md-2 col-sm-6 ">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" placeholder="输入页码..." ng-model="jPage">
                <span class="input-group-btn" ng-click="jump(jPage)">
                    <button class="btn btn-default btn-sm" type="button"><span class="fa fa-share"></span></button>跳转
                </span>
                </div>
            </div>
        </div>

        <div class="col-lg-12" id="no-more-tables">
            <table class="table table-striped ">
                <thead class="cf">
                <tr>
                    <th>ID</th>
                    <th>所属栏目</th>
                    <th>内容</th>
                    <th>提问者</th>
                    <th>提问者等级</th>
                    <th>创建时间</th>
                    <!--<th>查看权限</th>-->
                    <th>是否已回复</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in dataList">
                    <th>{{data.timeline_id}}</th>
                    <td>{{data.channel_name}}</td>
                    <td width="50%">{{data.content}}</td>
                    <td>{{data.writer.nickname}}</td>
                    <td>{{vipLevelObj[data.writer.vip_level]}}</td>
                    <td>{{data.time}}</td>
                    <!--<td>{{data.allow_see_lv}}</td>-->
                    <td>{{data.quality==1?'是':'否'}}</td>
                    <td>
                        <!--<a class="del-btn text-danger" ng-click="delete(data.timeline_id)"  href="javascript:;" ng-if="data.quality==1"><span class="fa fa-fw fa-trash "></span>删除</a>-->
                        <a class="del-btn text-success"  href="#/questions/{{data.timeline_id}}"  ng-if="data.quality!=1"><span class="fa fa-fw fa-mail-reply "></span>回复</a>
                        <a class="del-btn text-info"  href="#/questions/{{data.timeline_id}}?view=true"  ng-if="data.quality==1"><span class="fa fa-fw fa-eye "></span>查看</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
